.alert {
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda; /* Vert clair */
    color: #155724; /* Texte vert foncé */
    border: 1px solid #c3e6cb; /* Bordure verte */
}


.close {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    float: right;
}