<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Gestion des Comptes Admin</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <button
        mat-flat-button
        color="primary"
        class="m-t-8"
        (click)="openModal()"
        >
          Ajouter un compte Utilisateur
        </button>
      </div>
  

      <div class="col-12">
      <div class="table-responsive">
        <table mat-table [dataSource]="accounts" class="w-100">
          
          <!-- Nom -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
              Nom
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              {{ element.name }}
            </td>
          </ng-container>

          <!-- Login -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Login
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.username }}
            </td>
          </ng-container>

          <!-- Statut -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Statut
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <!-- Rôle -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Rôle
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.role }}
            </td>
          </ng-container>

          <!-- Nom de l'EMF -->
          <ng-container matColumnDef="emf">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Nom de l'EMF
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.emfName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" >
              Actions
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary" class="m-t-8" (click)="editElement(element)" ><mat-icon>edit</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  </mat-card-content>
</mat-card>


<ng-template #modalTemplate>
  <div mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Ajouter un compte Utilisateur</h2>
    <button mat-icon-button (click)="onCancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button><br>
  </div>
  <mat-dialog-content>
    <form #onCreateUserForm="ngForm" (ngSubmit)="onCreateUser(onCreateUserForm)" novalidate>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput [(ngModel)]="name" name="name" required />
          </mat-form-field>

          <mat-label class="f-w-600 m-b-8 d-block">Nom de l'EMF</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select [(ngModel)]="selectedEMF" name="emfCode" (selectionChange)="onEmfSelect($event)" required>
              <mat-option *ngFor="let emf of emfList" [value]="emf">{{ emf.name }} - {{ emf.code }}</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Login</mat-label>
            <input matInput type="text" [(ngModel)]="accountUsername" name="accountUsername" required />
          </mat-form-field>
       
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>mot de passe</mat-label>
            <input matInput [(ngModel)]="userPassword" name="userPassword" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type de compte:</mat-label>
            <mat-select [(ngModel)]="accountType" name="accountType" required>
              <mat-option value="SUPER_ADMIN">Support Admin</mat-option>
              <mat-option value="EMF_ADMIN">Admin EMF</mat-option>
              <mat-option value="MANAGER">Gestionnaire EMF</mat-option>
            </mat-select>
          </mat-form-field>
    
      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div><br>
    
      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button mat-button (click)="onCancel()" color="warn">ANNULER</button>
        <button mat-raised-button color="primary" type="submit">Créer</button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>


<ng-template #editModalTemplate>
  <div mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
    <h2 color="primary">Modifier le compte</h2>
    <button mat-icon-button (click)="onCancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div><br>
  <mat-dialog-content>
    <form #editForm="ngForm" (ngSubmit)="updateAccount()" novalidate>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="selectedAccount.name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput [(ngModel)]="selectedAccount.username" name="username" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>status</mat-label>
        <input matInput [(ngModel)]="selectedAccount.status" name="status" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Rôle</mat-label>
        <input matInput [(ngModel)]="selectedAccount.role" name="role" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nom de l'EMF</mat-label>
        <input matInput [(ngModel)]="selectedAccount.emfName" name="emfName" required />
      </mat-form-field>

      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div><br>

      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button mat-button (click)="onCancel()" color="warn">ANNULER</button>
        <button mat-raised-button color="primary" type="submit">Modifier</button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>
