<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Débloquer un Numéro</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <mat-card class="b-1 shadow-none col-md-8">
      <mat-card-content>
        <h2>Utilisateur</h2>

        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <mat-label class="f-w-600 m-b-8 d-block">Nom de l'EMF</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select [(ngModel)]="selectedEMF" name="emfCode" (selectionChange)="onEmfSelect($event)" required>
              <mat-option *ngFor="let emf of emfList" [value]="emf">{{ emf.name }} - {{ emf.code }}</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-label class="f-w-600 m-b-8 d-block">Numéro de téléphone</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput id="number" type="text" class="form-control" required [(ngModel)]="recipient" name="recipient" />
          </mat-form-field>
        
          <!-- Affichage du message d'erreur -->
          <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
            {{ errorMessage }}
          </div><br><br>

          <button mat-flat-button color="primary" type="submit">Débloquer</button>
        </form>

      </mat-card-content>
    </mat-card>
  </mat-card-content>
  
</mat-card>
