<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Gestion Des Comptes OTP</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <button
        mat-flat-button
        color="primary"
        class="m-t-8"
        (click)="openModal()"
      >
        Ajouter un compte OTP
      </button>
    </div>
  

      <div class="col-12">
        <mat-card-content>  
          <div class="table-responsive">
            <table mat-table [dataSource]="accounts" class="w-100">
              
              <!-- Nom de l'EMF -->
              <ng-container matColumnDef="emfName">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
                  Nom de l'EMF
                </th>
                <td mat-cell *matCellDef="let element" class="p-l-0">
                  {{ element.emfName }}
                </td>
              </ng-container>
      
              <!-- Numéro de l'EMF -->
              <ng-container matColumnDef="emfCode">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Numéro de l'EMF
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.emfCode }}
                </td>
              </ng-container>

              <!-- Nombre de Chiffres -->
              <ng-container matColumnDef="numberOfDigits">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Nombre de Chiffres
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.numberOfDigits }}
                </td>
              </ng-container>

              <!-- Durée de Vie -->
              <ng-container matColumnDef="lifetime">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Durée de Vie
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lifetime }}
                </td>
              </ng-container>

              <!-- Login Serveur -->
              <ng-container matColumnDef="serverLogin">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Login Serveur
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.serverLogin }}
                </td>
              </ng-container>
      
              <!-- Mot de Passe du Serveur -->
              <ng-container matColumnDef="serverPassword">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Mot de Passe du Serveur
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.serverPassword }}
                </td>
              </ng-container>
      
              <!-- Début du Message -->
              <ng-container matColumnDef="messageStart">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                  Début de Message
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.messageStart }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" >
                  Actions
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="primary" class="m-t-8" (click)="editElement(element)" ><mat-icon>edit</mat-icon></button>
                </td>
              </ng-container>
    

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card-content>

</mat-card>

<ng-template #modalTemplate>
  <div mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
    <h2 color="primary">Ajouter un compte OTP</h2>
    <button mat-icon-button (click)="onCancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div><br>
  <mat-dialog-content>
    <form #onCreateUserForm="ngForm" (ngSubmit)="onCreateUser(onCreateUserForm)" novalidate>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom de l'EMF</mat-label>
            <input matInput [(ngModel)]="name" name="name" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Code de l'EMF</mat-label>
            <input matInput [(ngModel)]="code" name="code" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de chiffres</mat-label>
            <input matInput type="number" [(ngModel)]="otpDigitCount" name="otpDigitCount" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Login du serveur de messagerie</mat-label>
            <input matInput [(ngModel)]="loginSmsServer" name="loginSmsServer" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mot de passe du serveur de messagerie</mat-label>
            <input matInput [(ngModel)]="passwordSmsServer" name="passwordSmsServer" type="password" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Début du message</mat-label>
            <input matInput [(ngModel)]="otpMessageFormat" name="otpMessageFormat" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date d'expiration de l'OTP en minutes:</mat-label>
            <input matInput type="number" [(ngModel)]="otpExpirationDelay" name="otpExpirationDelay" required />
          </mat-form-field>
        </div>
      </div>
    
      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div><br>
    
      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button mat-button (click)="onCancel()" color="warn">ANNULER</button>
        <button mat-raised-button color="primary" type="submit">Créer</button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>


<ng-template #editModalTemplate>
  <div mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
    <h2 color="primary">Modifier le compte OTP</h2>
    <button mat-icon-button (click)="onCancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div><br>
  <mat-dialog-content>
    <form #editUserForm="ngForm" (ngSubmit)="updateEmf()" novalidate>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom de l'EMF</mat-label>
            <input matInput [(ngModel)]="selectedAccount.emfName" name="emfName" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Code de l'EMF</mat-label>
            <input matInput [(ngModel)]="selectedAccount.emfCode" name="emfCode" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de chiffres</mat-label>
            <input matInput type="number" [(ngModel)]="selectedAccount.numberOfDigits" name="numberOfDigits" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Login du serveur de messagerie</mat-label>
            <input matInput [(ngModel)]="selectedAccount.serverLogin" name="serverLogin" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mot de passe du serveur de messagerie</mat-label>
            <input matInput [(ngModel)]="selectedAccount.serverPassword" name="serverPassword" type="password" required />
          </mat-form-field>
        </div>
    
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Début du message</mat-label>
            <input matInput [(ngModel)]="selectedAccount.messageStart" name="messageStart" required />
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date d'expiration de l'OTP en minutes:</mat-label>
            <input matInput type="number" [(ngModel)]="selectedAccount.lifetime" name="otpExpirationDelay" required />
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div><br>
    
      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button mat-button (click)="onCancel()" color="warn">ANNULER</button>
        <button mat-raised-button color="primary" type="submit">Modifier</button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>

